<div class="menu-container">
  <div class="menu-container-frame">
    <div id="menu">
      <img src=".\assets\picture.jfif" class="image-container">
      <div class="options-container">
        <button class="button" onclick="generateForm()">Gerar uma Rota</button>
        <button class="button" onclick="generatePoints()">Ver todos os pontos verdes</button>
        <button class="button">Ver todos os pontos de abastecimento</button>
      </div>
    </div>
  </div>
</div>