.menu-container {
	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	width: 390px;
}

.menu-frame {
	position: relative;
	height: 100%;
	width: 100%;
}

#menu {
	position: relative;
	background: white;
	border: 0px solid black;
	height: 100%;
	width: 100%;  
	z-index: 1;
}

.image-container {
	position: absolute;
	border: 1px solid black;
  	height:20%;
  	width: 100%;
  	margin: 0;
  	padding: 0;
}

.options-container {
	position: relative;
	border: 1px solid black;
	top: 20%;
	height: 80%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.options-frame {
	position: absolute;
	border: 0px solid black;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.option {
	position: relative;
	border: 1px solid black;
	text-align: center;
	margin:0;
	padding:0;
}

.button{
	background-color: #4CAF50;
	color: white;
	border-bottom: 3px solid white;
	text-align: center;
	text-decoration: none;
	height: 10%;
	width: 100%;
}

.button:hover {
	background-color: white;
	color: #4CAF50;
	border-bottom: 3px solid white;
	text-align: center;
	text-decoration: none;
	height: 10%;
	width: 100%;
}