<div class="map-container">
  <div class="map-frame">
    <div id="map">
      <!--<iframe src="https://map.openchargemap.io/?mode=embedded" allow="geolocation" frameborder="0" width="100%" height="500px"></iframe>-->
    </div>
  </div>
</div>