.big-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: 2px;
	background-color: #b3b3cc;
}
.big-container-frame {
	position: absolute;
	top: 0px;
	bottom:	0px;
	right: 0px;
	left: 0px;
	border: 2px solid black;
}

.small-container {
	position: absolute;
	top: 10px;
	left: 10px;
	height:50px;
	width: 300px;
	background-color: #99ff33;
	border: 1px solid black;
	z-index: 2;
}
.small-container-frame {
	position: relative;
	height:100%;
	width: 100%;
}

.search-container {
	float: right;
	display: inline;
	position: relative;
	width: 80%;
	height: 100%;
	background-color: #ff3300;
}
.search-container-frame {
	position: relative;
	width: 100%;
	height: 100%;
}
#search {
	position: relative;
	padding: 0px;
	border: 0px solid black;
	width: 100%;
	height: 100%;

}
#search[value] {
	text-align: center;
	font-size: 16px;
}

.hidden-menu-container {
	position: relative;
	float: left;
	display: inline;
	width: 20%;
	height: 100%;
	background: white;
}
.hidden-menu-container-frame {
	position: relative;
	height: 100%;
	width: 100%;
	background: white;
}
#hidden-menu{
	position: relative;
	height: 100%;
	width: 100%;
	background: white;
}
#hidden-menu img{
	position: relative;
	height: 100%;
	width: 100%;
}

.map-component {
	position: absolute;
	border: 2px solid black;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.visible-menu-container{
	position: absolute;
	top: 0;
  	left: 0;
    width: 25%;
  	bottom: 0;
}

.visible-menu-container-frame{
	position: relative;
	width: 100%;
	height: 100%;
}

#visible-menu {
	visibility: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;

}

.smoke-screen-container{
	position: relative;
	float: right;
	display: inline;
	width:75%;
	height:100%;
}

.smoke-screen-container-frame{
	position: relative;
	width: 100%;
	height: 100%;
}

#smoke-screen {
	position: relative;
	float: right;
	display: inline;
	visibility: hidden;
	width:100%;
	height:100%;
	background-color: grey;
	opacity:0.5;
	z-index: 3;
}

.form-container {
	position: relative;
	background-color: black; 
	z-index: 4;
}
.form-container-frame {}
#form{}
