<div class="big-container">
	<div class="big-container-frame">
		<div class="visible-menu-container">
			<div class="visible-menu-container-frame">
				<div id="visible-menu">
					<app-menu></app-menu>
				</div>
			</div>	
		</div>
		<div class="smoke-screen-container">
			<div class="smoke-screen-container-frame">
				<div id="smoke-screen" onclick="turnOff()"></div>
			</div>
		</div>
		<div class="map-component">
			<app-map></app-map>
		</div>
	</div>
</div>